$tablet: 850px;
$smartphone: 600px;
$primaryColor: #2680eb;
$blackColor: #000000;
$secondaryColor: #ffffff;
$grayColor: #707070;
$shadow: 0px 4px 6px rgba(64, 27, 32, 0.582);
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.stopwatch {
  height: calc(100vh - 100px);
  width: 100%;
  padding: 20px 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: center;
  .stopwatch-display-container {
    margin-top: 20px;
    width: 100%;
    .stopwatch-display {
      width: 200px;
      height: 200px;
      margin: auto;
      display: flex;
      border-radius: 50%;
      border: 1px dashed $primaryColor;
      h2 {
        margin: auto;
        color: $grayColor;
      }
    }
  }
  .bottom-controls {
    margin-top: auto;
  }
  button {
    height: 50px;
    padding: 10px;
    width: 50px;
    letter-spacing: 0.5px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: $grayColor;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-start {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: $primaryColor;
    color: $secondaryColor;
    &:hover {
      background-color: darken($color: $primaryColor, $amount: 10);
    }
  }
  .button-stop,
  .button-resume,
  .button-reset {
    color: $secondaryColor;
    background-color: $primaryColor;
    width: 40%;
    height: 40px;
    line-height: 40px;
    &:hover {
      background-color: darken($color: $primaryColor, $amount: 10);
    }
  }
  .btn-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
