.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .setting {
    width: 25px;
    margin-right: 10px;
  }

  .navbar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #e4e4e4;
    padding: 0 10px;
    .active {
      position: relative;
      padding-bottom: 5px;
      a {
        color: #2680eb;
        font-weight: 500;
        &:after {
          margin: auto;
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          width: 50px;
          height: 4px;
          background-color: #2680eb;
          bottom: -4px;
        }
      }
    }
    a {
      font-size: 16px;
      letter-spacing: 2px;
      padding-bottom: 6px;
    }
  }
}
